<form action="{{ path('danielmydemo_sendmail')}}" method="post" {{ form_enctype(form) }} class="mailform">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Abschicken">
    </p>
</form>