<head>
    <title>Dein Posteingang</title>
    <style>
        #mail {
            margin-top: 25px;
            margin-bottom: 25px;
            border: 3px solid black;
            width: 50%;
        }

        .insidemail {
            margin-left: 10px;
        }

        #title {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Dein Posteingang:</h2>
{% block content %}
    {% for mail in mails %}
        {% if app.user.username == mail.empfaenger %}
            <div id="mail">
                <p class="insidemail">Von: {{ mail.absender }}</p>

                <p id="title" class="insidemail"><b>{{ mail.title }}</b></p>

                <p class="insidemail">{{ mail.body }}</p>

                <p class="insidemail">Zeit:
                    <time datetime="{{ mail.time|date('c') }}">{{ mail.time|date('l, F j, Y') }}</time>
                </p>

            </div>
        {% endif %}
    {% else %}

        <p>Bisher hat dir niemand etwas geschrieben.</p>


    {% endfor %}
{% endblock %}

</body>