<form action="{{ path('danielmydemo_post_create')}}" method="post" {{ form_enctype(form) }} class="postform">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Abschicken">
    </p>
</form>