<div id="post">
    <p class="insidepost">Beitrag von: {{ post.user }}</p>

    <p id="title" class="insidepost"><b>{{ post.title }}</b></p>

    <p class="insidepost">{{ post.body }}</p>

    <p class="insidepost">von: <time datetime="{{ post.time|date('c') }}">{{ post.time|date('l, F j, Y') }}</time></p>
    <p class="insidepost"><a href="#">Löschen</a></p>
</div>