<head>
    <title>Deine Beiträge</title>
    <style>
        #post {
            margin-top: 25px;
            margin-bottom: 25px;
            border: 3px solid black;
            width: 50%;
        }

        .insidepost {
            margin-left: 10px;
        }

        #title {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

    </style>
</head>
<body>

<h2>Beiträge von {{ app.user.username }}</h2>

{% for post in posts %}
    {% if app.user.username == post.user %}
        <div id="post">
            <p class="insidepost">Beitrag von: {{ post.user }}</p>

            <p id="title" class="insidepost"><b>{{ post.title }}</b></p>

            <p class="insidepost">{{ post.body }}</p>

            <p class="insidepost">von: <time datetime="{{ post.time|date('c') }}">{{ post.time|date('l, F j, Y') }}</time></p>
            {% if app.user.username == post.user %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
            <!-- TODO: Das geht bestimmt besser, lieber die Nutzerrolle abfragen -->
            {% if app.user.username == 'admin' %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
        </div>
    {% endif %}
{% else %}

    <p>Du hast noch nichts geschrieben.</p>


{% endfor %}

</body>