<h2>Beiträge von {{ app.user.username }}</h2>

{% for post in posts %}
    {% if app.user.username == post.user %}
        <div id="post">
            <p class="insidepost">Beitrag von: {{ post.user }}</p>

            <p id="title" class="insidepost"><b>{{ post.title }}</b></p>

            <p class="insidepost">{{ post.body }}</p>

            <p class="insidepost">von: <time datetime="{{ post.time|date('c') }}">{{ post.time|date('l, F j, Y') }}</time></p>
            {% if app.user.username == post.user %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
            <!-- TODO: Das geht bestimmt besser, lieber die Nutzerrolle abfragen -->
            {% if app.user.username == 'admin' %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
        </div>
    {% endif %}
{% else %}

    <p>Von einem Benutzer mit diesem Namen gibt es keine Beiträge.</p>


{% endfor %}