<!DOCTYPE html>
<html>
<head>
    <title>Meine DemoApp</title>
    <style>
        #post {
            margin-top: 25px;
            margin-bottom: 25px;
            border: 3px solid black;
            width: 50%;
        }

        .insidepost {
            margin-left: 10px;
        }

        #title {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

    </style>
</head>
<body>
    <h2>Dies ist eine kleine Spielerei mit Symfony2</h2>
    <p>Eingeloggt als: <b>{{ app.user.username }}</b></p>
    <nav>
        <a href="{{ path('danielmydemo_logout') }}">Logout</a>
        <a href="{{ path('danielmydemo_own_posts') }}">Eigene Beiträge</a>
        <a href="{{ path('danielmydemo_mailbox') }}">Posteingang</a>
        <a href="{{ path('danielmydemo_sendmail') }}">Nachricht schreiben</a>

    </nav>
    <h2>Verfasse einen Beitrag:</h2>

    {% render controller('danielmydemoBundle:Post:new') %}



    <form>

    </form>
    <h2>Newsfeed</h2>
    {% block content %}
        {% for post in posts %}
        <div id="post">
                <p class="insidepost">Beitrag von: {{ post.user }}</p>

                <p id="title" class="insidepost"><b>{{ post.title }}</b></p>

                <p class="insidepost">{{ post.body }}</p>

                <p class="insidepost">von: <time datetime="{{ post.time|date('c') }}">{{ post.time|date('l, F j, Y') }}</time></p>
            {% if app.user.username == post.user %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
            <!-- TODO: Das geht bestimmt besser, lieber die Nutzerrolle abfragen -->
            {% if app.user.username == 'admin' %}
                <p class="insidepost"><a href="{{ path('danielmydemo_post_delete',{'id': post.id}) }}">Beitrag löschen</a></p>
            {% endif %}
        </div>
        {% else %}

            <p>Bisher hat niemand etwas geschrieben.</p>


        {% endfor %}
    {% endblock %}

</body>
</html>